.header-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3em;
    color: #1f1235;
    background-color: #f3d2c1;
    border-radius: 1vw;
    padding-left: 30px;
    padding-right: 30px;
}

.nav{
    padding: 20px;
    font-size: 2rem;
}

.nav-link{
    margin: 20px;
}

.page-title{
    font-size: 3rem;
}

.header-user-img{
    height:50px;
    width: 50px;
    border-radius: 100px;
}