.header-div{
    background-color: #8bd3dd;
    color: #00473e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 100px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
}

.nav{
    font-size:calc(10px + 2vmin);
}

.nav-link{
    margin: 30px;
}

.page-title{
    font-size:calc(20px + 4vmin);
}

.header-user-img{
    border: solid black 2px;
    height:5vh;
    width: 5vw;
    border-radius: 100px;
}
