@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');

*{
    font-family: 'Agdasima', sans-serif;
    text-decoration: none;
}

body{
    background-color: #fef6e4;
    text-align: center;
    align-items: center;
}

.record-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.record-form{
    justify-content: center;
}

.record-form>input{
    width: 25vw;
}