@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    background-image: url("https://images.unsplash.com/photo-1539375665275-f9de415ef9ac?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1756&q=80");
    background-attachment: fixed;
    color: #002b26;
    margin-top: 220px;
}

a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #002b26;
}

select{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    border: solid black 2px;
    border-radius: 100px;
    background-color: rgba(179, 205, 224, 0.97);
    padding: 10px;
    outline: none;
}

select:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 15px #f582ae;
}

.button{
    font-family: 'Montserrat', sans-serif;
    color: #002b26;
    font-size: 1vw;
    border: none;
    border-radius: 6px;
    background-color: #ff6e6c;
    padding: 10px 14px;
    transition: transform 1000ms;
    margin: 5px;
}

.small-button{
    font-family: 'Montserrat', sans-serif;
    font-size: .8vw;
    border: none;
    border-radius: 6px;
    background-color: #ff6e6c;
    padding: 10px 14px;
    transition: transform 1000ms;
    margin: 5px;
}

.button:hover, .small-button:hover{
    transform: translateY(-2px);
    transition: transform 250ms;
}

.record-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.record-form{
    justify-content: center;
}

.record-form>input{
    width: 25vw;
}

input{
    background-color:white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4em;
    height: 3rem;
    width: 18vw;
    margin: 20px;
    padding-left: 25px;
    padding-right: 25px;
    border: none;
    border-radius: 10px;
    outline: none;
}

.comment-input{
    font-size: 2vmin;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(139, 211, 221, .3);
    border-radius: 10px;
    width: 40%;
    padding: 10px;
    height: 5vh;
    margin: 10px;
}

.glow {
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}