.record-card{
    background-color: #6497b1;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80vw;
    border-radius: 20px;
    margin: 20px;
}

.flex-this{
    display: flex;
}

.record-title{
    font-size: 1.6em;
    margin: 0;
    font-style: bold;
}

.record-description{
    font-size: .8em;
    margin-top: 40px;
}

.record-artist{
    margin-top: 0px;
    font-size: 1.4rem;
    margin: 0;
    padding-left: 3px;
}

.record-image{
    height: 100%;
    width: 25%;
    border-radius: 8px;
}

.record-user{
    font-size: .5em;
    margin: 0;
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.favs{
    position: absolute;
    top: 10px;
    right: 10px;
}

.info-container{
    width:75%;
    position: relative;
    padding: 20px;
}

.comments{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.comment-container{
    width: 100%;
    text-align: center;
}

.comment-input{
    width: 50%;
}